.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: #fcf7f7;
  border-bottom: 1px solid #f1e2d6;
  font-family: system-ui, sans-serif;
  height: 70px;
}

.h2 {
  font-weight: 800;
  color: #ff3b30;
  font-size: 18px;
  border-radius: 0%;
}

.h2:hover{
  cursor: pointer;
}

.nav-center {
  display: flex;
  gap: 28px;
  font-size: 15px;
}

.nav-link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 20px;
  transition: all 0.25s ease;
}

.nav-link:hover {
  background: #ffe4d6;
  color: #ff3b30;
}

.nav-link.active {
  background: #ffd7c2;
  color: #ff3b30;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  text-align: right;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.user-email {
  font-size: 12px;
  color: #777;
}

/* Logout */
.logout-btn {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;

  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.25s ease, 
  transform 0.2s ease;
}

/* Hover */
.logout-btn:hover {
  background: transparent;
  transform: translateX(-2px);
}

/* Click / focus fix */
.logout-btn:focus,
.logout-btn:active {
  outline: none;
  box-shadow: none;
}
