.cta-section {
  background: #fffbe8;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
    width: 100%;
}

.cta-box {
  width: 100%;
  max-width: 1100px;
  background: linear-gradient(90deg, #e60000, #ff3d00);
  border-radius: 16px;
  padding: 60px 40px;
  text-align: center;
  color: white;
}

.cta-box h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.cta-box p {
  font-size: 15px;
  opacity: 0.95;
  margin-bottom: 30px;
}

/* BUTTON */
.cta-btn {
  width: 100%;
  background: white;
  color: #e60000;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: #fff5f5;
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .cta-box {
    padding: 40px 20px;
  }

  .cta-box h2 {
    font-size: 26px;
  }
}
