* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.hero-page {
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(circle at top,
            #ffe7df,
            #fde2d6,
            #fcd6c7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    font-family: system-ui, -apple-system, sans-serif;
}

/* HERO CONTAINER */
.hero {
    width: 100%;
    max-width: 1100px;
    padding: 45px 24px;
    text-align: center;
}


/* LOGO */
.logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: white;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: 700;
    color: #ff2d00;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
    font-size: 25px;
    margin-top: 0px;
}

/* BADGE */
.badge {
    display: inline-block;
    background: #ff5a00;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}

/* TITLE */
.title {
    font-size: clamp(32px, 5vw, 56px);
    line-height: 1.1;
    font-weight: 800;
    color: #111827;
}

.title span {
    color: #ff2d00;
    background: linear-gradient(90deg, #ff2d00, #ff7a00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* SUBTITLE */
.subtitle {
    margin-top: 20px;
    font-size: clamp(14px, 2.2vw, 16px);
    color: #374151;
    max-width: 700px;
    margin-inline: auto;
    line-height: 1.6;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.btn {
    padding: 14px 22px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.primary {
    background: #ff2d00;
    color: white;
    box-shadow: 0 12px 25px rgba(255, 0, 0, 0.35);
}

.secondary {
    background: white;
    color: #111;
    border: 1px solid #e5e7eb;
}

/* STATS */
.stats {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.stat-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 28px 20px;
    border-radius: 9px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.stat-card h3 {
    font-size: 28px;
    color: #ff0000;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stat-card p {
    margin-top: 8px;
    font-size: 14px;
    color: #6b7280;
}

@media (max-width: 480px) {
    .logo {
        padding: 8px 16px;
        font-size: 14px;
    }

    .badge {
        font-size: 13px;
    }
}